{%extends 'layout.html'%}

{% block content%}
    
<h1>About Us</h1>
<p>Travel Agency is a company specialized in travel systems. Our goal is to make our customers' trips easier and more enjoyable. We do this by offering innovative and easy-to-use travel solutions.</p>

<h2>What We Offer?</h2>

Flight and hotel reservations
Vacation packages and tours
Travel insurance

<h2>Why Travel with Us?</h2>

<p>Extensive experience: We have been operating in the travel industry for many years and have the knowledge and expertise to meet all your travel needs.</p>
<p>Reliability: Customer satisfaction is our top priority. Therefore, we always strive to provide the highest quality service.</p>
<p>Competitive prices: We are committed to offering the best travel experience at the best prices.</p>
<p>24/7 support: We are always ready to assist you throughout your travel.</p>

<h2>Our Mission:</h2>

<p>Our mission is to be a leading company in the travel industry by providing our customers with an excellent travel experience.</p>

<h2>Our Vision:</h2>

<p>Our vision is to be the most trusted and preferred travel company in the world.</p>

<h2>Our Values:</h2>
<ul>
<li>Customer focus</li>
<li>Reliability</li>
<li>Quality</li>
<li>Innovation</li>
<li>Honesty</li>

</ul>

Travel with Travel Agency and have an unforgettable experience!
<p>Let your travel with Travel Agency be like your dream!</p>

{% endblock %}