
{% extends 'layout.html' %}
{%load static%}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
       












      <h1 class="display-4"> Welcome to Travel Agency !</h1>
     
    </div>
  </div>

  
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
 
                    <div class="col md-9">
                        <div class="card-body">
                            <div class="card-title">High Life</div>
                            <p class="lead">We're here to create unforgettable vacations. Whether you're looking for sunny beaches, historic cities, or exciting adventures, we have it all!</p>
                            <ul>
                                <div class="card-title">Why Us</div>
                            <li><p class="lead">Experienced: We've been in the business for many years and know everything there is to know.</p></li>
                            <li><p class="lead">Personalized: We're here to make your dreams come true.</p></li>
                            <li><p class="lead">Trusted: Our customers are our top priority.</p></li>
                            <li><p class="lead"> Affordable: We have options to fit every budget.</p></li>
                            </ul>
                            <div class="card-title">What to Do Next: </div>

                            <ul>
                                <li><p class="lead">Get Inspired: Explore different destinations and tours.</p></li>
                                <li><p class="lead">Contact Us: Let us help you plan your dream vacation.</p></li>
                                <li><p class="lead">Catch the Deals: Sign up and get notified of discounts.</p></li>
                                <li><p class="lead">All you have to do is contact us for an unforgettable vacation!</p></li>
                            </ul>
                                
                               
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}